* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenitore {
    width: 500px;
    height: 500px;
    background-color: lightgreen;
    margin: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}

#numeri_trovati {
    font-size: 30px;
}

#numeri_totali {
    font-size: 30px;
}
